<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h3>3D Geometry Visualizer</h3>
    <div class="menu-items">
      <button mat-button>Menu</button>
      <button mat-button (click)="show('kugel')">Kugel</button>
      <button mat-button (click)="show('quader')">Quader</button>
      <button mat-button (click)="show('kegel')">Kegel</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="userMenu">
        {{ auth.username | titlecase }} <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>

    <main class="content">
      <section class="welcome">
        <h1>Willkommen</h1>
        <p><strong>Hinweis:</strong></p>
        <p>
          Dies ist eine einfache Webanwendung zur mathematischen 3D-Visualisierung im
          Rahmen des Moduls 294.
        </p>
        <p>
          Bitte wähle links im Menü eine Form aus und gib die Parameter ein.
        </p>
      </section>

      <!-- Dynamische Ansicht für Kugel -->
      <ng-container *ngIf="activeView === 'kugel'">
        <app-kugel></app-kugel>
      </ng-container>
      
      <!-- Dynamische Ansicht für Quader -->
      <ng-container *ngIf="activeView === 'quader'">
        <app-quader />
      </ng-container>

        <!-- Dynamische Ansicht für Kegel -->
      <ng-container *ngIf="activeView === 'kegel'">
        <app-kegel />
      </ng-container>

        <!-- Dynamische Ansicht für Admin Dashboard -->
      <ng-container *ngIf="auth.username === 'admin'">
        <button routerLink="/admin">Admin Dashboard</button>
      </ng-container>
      

      <section class="preview">
        <img src="assets/animated-sphere.gif" alt="3D animated Object" class="animated-gif" />
      </section>
    </main>

    <div class="full-divider"></div>
    <footer class="footer">
      © 2025 Peter Ngo – 3D-Geometrie Visualizer
      <a href="https://www.semafor.ch/de/" target="_blank">Logo-Firma</a>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
