<table mat-table [dataSource]="data" class="mat-elevation-z2 full-width-table">

  <!-- Benutzer -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> Benutzer </th>
    <td mat-cell *matCellDef="let row"> {{ row.user }} </td>
  </ng-container>

  <!-- Shape -->
  <ng-container matColumnDef="shape">
    <th mat-header-cell *matHeaderCellDef> Form </th>
    <td mat-cell *matCellDef="let row"> {{ row.shape }} </td>
  </ng-container>

  <!-- Parameter -->
  <ng-container matColumnDef="parameters">
    <th mat-header-cell *matHeaderCellDef> Parameter </th>
    <td mat-cell *matCellDef="let row"> {{ row.parameters }} </td>
  </ng-container>

  <!-- Datum -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Datum </th>
    <td mat-cell *matCellDef="let row"> {{ row.date }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
